
<h1>This is default component</h1>
<hr>

<h1>This is object values</h1>
   <h2>{{ objValues.key1 }},</h2> 
    <h2>{{ objValues.key2 }},</h2>
    <h2>{{ objValues.key3 }}</h2>
    
   <hr> 
    <p>childcomp3 works!</p>
<h1>Your name is {{ name }}</h1>

<h1>Email is {{ email }}</h1>

<h1>Contact is {{ contact }}</h1>

<h2>Sum of a and b is {{ a+b }}</h2>

<hr>
<app-childcomponents1 [fnames]="name"></app-childcomponents1>

<!-- <app-childcomp3></app-childcomp3> -->

<!-- <app-childcompo2 [fnames]="fname",[lnames]="lname",[emailIds]="emailId"></app-childcompo2> -->
